body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}
.box-1 {
    width: 50%;
    padding: 5%;
}

.box-1 img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #370505, #631615, #912c1c, #bf471c, #eb6712);
    color: white;
    font-weight: 700;
}