body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    color: #7d7d7d;
    margin-bottom: 10px;
}

.orange-color {
    color: orange;
}

.flexiable-container {
    display: flex;
    margin-bottom: 100px;
}
.box-1 {
    margin-right: 50px;
    width: 50%;
    padding: 5%;
}

.box-1 img {
    width: 90%;
}

.link-button {
    
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to left bottom, #370505, #631615, #912c1c, #bf471c, #eb6712);
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-2 {
    margin-left: 4%;
    margin-right: 4%;
    width: 40%;
    padding: 3%;
    box-shadow: 10px 10px 40px gray;
    
}

.box-2 p {
    text-align: justify;
}

.exp-cntr {
    text-align: center;
    margin-bottom: 80px;
}

#senior-dev {
    border-left: 8px solid;
    border-image: linear-gradient(to left bottom, #370505, #631615, #912c1c, #bf471c, #eb6712);
    border-image-slice: 1;
}

#baby-dev {

    border-left: 8px solid;
    border-image:linear-gradient(to left bottom, #211ba6, #433da7, #5d5aa5, #7776a1, #919199);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: #7d7d7d;
}